<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566836754350-14ds9s2ktosc57ehf7mmjkskkl1l1ca7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566836754350-14ds9s2ktosc57ehf7mmjkskkl1l1ca7</string>
	<key>API_KEY</key>
	<string>AIzaSyBvFm8WMVKIRqlm4NUnS2bFRhiLNX1yvtI</string>
	<key>GCM_SENDER_ID</key>
	<string>566836754350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFbrealtimeQuery</string>
	<key>PROJECT_ID</key>
	<string>fir-query-test-70b6b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-query-test-70b6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566836754350:ios:ca4727fd28d99cbc087a3f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-query-test-70b6b-default-rtdb.firebaseio.com</string>
</dict>
</plist>